body{
    background: -webkit-linear-gradient(to right, rgb(206, 173, 243), rgb(134, 171, 235));
    background: linear-gradient(to right, rgba(206, 173, 243), rgba(134, 171, 235))
        
}
a:hover{
    font-weight: bold;
}